# DB
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=image_hosting

# Limits
MAX_FILE_SIZE_MB=5 
ALLOWED_FILE_TYPES=["jpg", "jpeg", "png", "gif"]

# Dirs
IMAGES_DIR=/images
LOGS_DIR=/logs